<div class="templateView">
  <h2>Welcome! Please Log in</h2>
  <button class="button icon-left ion-social-twitter"></button>
  <button ng-click="googleAuth()" class="button icon-left ion-social-google"></button>
</div>
<h3>Look up a Venue or Event</h3>
<div class="list list-inset">
  <form class="searchForm" ng-submit="search(value)">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="value" placeholder="Search" />
    </label>
  </form>
  <p>
    {{value}}
  </p>
</div>
