<!DOCTYPE html>
<html ng-app="capstone">
  <head>
    <meta charset="utf-8">
    <title>Capstone</title>
    <link rel="stylesheet" href="../static/styles/css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <h1>Hello World</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://angular-ui.github.io/ui-router/release/angular-ui-router.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-cordova/0.1.23-alpha/ng-cordova-mocks.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
